li a {
    color: lightskyblue;
}

body {
    /*background: white url("images/background.jpg") center;*/
}

.answer {
    max-width: 100%;
    float: left;
}

.solution {
    max-width: 100%;
    float: left;
    opacity:0;
}

.visible {
    opacity:1.0;
}

.solution_box {
    display: block;
    float: left;
    border: 1px solid #993300;
    max-width: 100%;
    background-color: #f2f2f2;
}

.solution_box:hover {
    background-color: #ffffff;
}